$type-scale: (
    small: (
        100: 0.6875em,
        400: 0.9375em,
        700: 2em
    ),
    medium: (
        100: 0.6875em,
        400: 0.9375em,
        700: 2.5em
    ),
    large: (
        100: 0.6875em,
        400: 0.9375em,
        700: 2.5em
    )
)